.accordion {
    margin-bottom: 25px;  
    border-radius: 5px;
    width: 100%;
    border-radius: 10px;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background: linear-gradient(to left, #b5c4bf 10%, white);
    border-radius: 10px;
    gap: 10px;

    &:hover {
      background: linear-gradient(to left, #7ea096 50%, white);
  
    }
  }
  
  .accordion-title {
    background-color: transparent;
  }
  
  .accordion-icon {
    font-size: 210px;
    transition: transform 0.3s ease;
  }
  
  .accordion-icon.expanded {
    transform: rotate(45deg);
  }
  
  .accordion-content {
    padding: 10px;
    text-align: start;
  }

.accordion-icon {
  min-width: 15px;
  max-width: 15px;
}