.button {
    border: none;
    border-radius: 10px;
    width: max-content;
    margin: 15px 0px;
    padding: 15px 40px;
    font-size: 15px;
    cursor: pointer;
    align-items: start;
    background: linear-gradient(135deg, white, rgb(218, 218, 218));

    &:hover {
        background: linear-gradient(135deg, #5d867a, #30584D);
        color: white;
    }

    &:active {
        background: linear-gradient(135deg, white, rgb(218, 218, 218));
        color: black;
    }
}